{% extends 'layout.html'%}

{% block body %}

<div class="text-light">
    <h1>About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nam reprehenderit dolores quas, placeat ad doloribus
        velit, dolor obcaecati a labore totam hic recusandae deserunt! Unde qui eum, incidunt, eaque nostrum illo sit error
        repellendus reprehenderit ullam doloremque voluptatum placeat delectus! Soluta in quae voluptates? Asperiores
        tempore aspernatur illum fuga aliquid incidunt architecto vitae doloribus dolorum, voluptas rem recusandae
        voluptatibus, nostrum optio, inventore nesciunt hic sint eum reiciendis maiores et. Asperiores accusamus cum
        necessitatibus aspernatur quos aliquam laudantium error amet illum ratione totam, eaque fuga ullam voluptatibus non
        eum! Possimus fuga porro accusamus, sapiente voluptate inventore, veniam, deleniti consequuntur adipisci consectetur
        veritatis optio quibusdam! Temporibus eius nisi accusantium reprehenderit quibusdam esse doloremque, ipsam dicta
        animi possimus veniam sunt commodi natus! Hic labore, animi at voluptate temporibus laudantium a provident fugit
        assumenda, debitis quod eum soluta, veniam quae obcaecati dignissimos? Veritatis rem facilis repellendus, quis
        quibusdam enim vero repellat, laborum ea minima tempore dicta sint laudantium aliquid cupiditate sunt eaque ut?
        Voluptate, modi libero nobis, eaque ea facilis necessitatibus quia, soluta reprehenderit adipisci saepe vel tempora
        repellat commodi! Enim deleniti libero, corporis neque quae porro doloremque sit saepe sequi quam quia dolore
        consectetur ipsa minima sed! Itaque harum aspernatur repellendus laborum quod voluptatem amet blanditiis eaque
        labore ipsam ratione odit quae, doloremque ducimus, vitae, ut nisi. Accusantium praesentium harum libero iure quos?
        Eveniet sint illum nihil repellat corporis odit obcaecati molestias sequi suscipit nulla praesentium vel provident
        quis perferendis tenetur quisquam quaerat earum, iure eos velit assumenda minima vero, deserunt quas? Labore totam
        reiciendis, numquam quos iste dolores nobis libero, commodi quisquam maxime repudiandae, dolorem obcaecati?
        Distinctio libero maxime doloribus officia eos commodi, provident impedit quis ipsa ab blanditiis eius nobis enim
        qui, quasi temporibus voluptatem. Atque aliquam ad animi, tempore quibusdam a amet nulla eum ipsa deserunt expedita
        molestias aperiam.
    </p>
</div>


{% endblock %}