<!-- To heredit layout.html -->
{% extends 'layout.html' %} 


{% block body %}


    <div class="row">
        <div class="col-md-3">

            {% include 'partials/_message.html'%}

            {% include 'partials/_contactForm.html' %}

        </div>

        <div class="col-md-3">
            <div class="badge text-bg-primary text-wrap" style="width: 10rem; --bs-badge-padding-y: 0.5em; --bs-badge-font-size: 0.9em;">
                Para hacer
            </div>
                {% for contact in contacts %}
        
                    <div class="card mb-1 text-white bg-dark">

                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <h5>{{contact.fullname}}</h5>
                                
                                <div>
                                    <!-- To move to function in contacts -->
                                    <a href="{{ url_for('contacts.update', id=contact.id) }}" class="btn bg-black text-white btn-sm rounded-1">Update</a> 
                                    <a href="{{ url_for('contacts.delete', id=contact.id) }}" class="btn btn-danger btn-sm rounded-1">Delete</a>
                                </div>

                            </div>

                            <p>{{contact.email}}</p>
                            <p>{{contact.phone}}</p>
                        </div>

                    </div>
        
                {% endfor %}


        </div>

        <div class="col-md-3">
            <div class="badge text-wrap"  style="width: 10rem; background-color:rgb(225, 225, 25); --bs-badge-padding-y: 0.5em;--bs-badge-font-size: 0.9em">
                En proceso
            </div>

            <div class="card mb-1 text-white bg-dark text-center">
                <h1>Holaaaaa</h1>
            </div>
        </div>

        <div class="col-md-3">
            <div class="badge text-wrap" style="width: 10rem; background-color:greenyellow; --bs-badge-padding-y: 0.5em;--bs-badge-font-size: 0.9em;">
                Terminado
            </div>

            <div class="card mb-1 text-white bg-dark text-center">
                <h1>Holaaaaa</h1>
            </div>
        </div>

    </div>



{% endblock %}